header{
  width: 60px;
  margin: 0 auto;
}

header .headline{
  font-size: 22px;
}

footer {
  width: 100%;
  line-height: 120px;
  text-align: center;
  background-color: #848282;
}
.footer-text {
  color: #fff;
}